<!DOCTYPE html>

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string showCart = HttpContextAccessor.HttpContext.Session.GetString("ShowCart");
    if (showCart != "showCart") 
    {
        showCart = "hideCart";
    }
}
<!--<h1>@HttpContextAccessor.HttpContext.Session.GetString("ShowCart")</h1>-->

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BigPandaBakery</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/Checkout.css" />
        <link rel="stylesheet" href="~/css/Cart.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">BigPandaBakery</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Menu">Menu</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Order">Order Online</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="@showCart" id="shoppingCart">
        <div id="shoppingCartInner" style="font-style: normal; font-variant-ligatures: normal;font-variant-caps: normal;font-variant-numeric: normal;font-variant-east-asian: normal; font-weight: 400;font-stretch: normal;font-size: 12px;line-height: 22px;font-family:Helvetica, Arial, sans-serif;letter-spacing: normal; visibility: visible;">
            <a asp-area="" asp-controller="Home" asp-action="Cart">
                <div id="yui_3_17_2_1_1524120769372_117" style="color: #ddd;background-color: #111; background-image: linear-gradient(#1e1e1e,#040404);min-width: 220px;border-radius: 30px;height: 48px;cursor: pointer;white-space: nowrap;line-height: 12px;font-size: 14px;padding: 10px 15px;padding-top: 13px;padding-right: 15px;padding-bottom: 10px;padding-left: 15px;" data-test="continue-to-cart">
                  <img src="~/images/iconShoppingCart.png" style="height: 24px; width: 24px; display: inline-block; margin-right: 15px; position: relative; margin-right: 10px; margin-left: 5px;">
                  <span class="total-quantity">1</span>
                  <span class="suffix">item</span>
                  <span style="position: relative; left: 40px">$39.29</span>
                </div>
            </a>
        </div>
    </div>
        
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - BigPandaBakery</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
